[submodule "external/imgui"]
	path = external/imgui
	url = https://github.com/ocornut/imgui
[submodule "external/stb"]
	path = external/stb
	url = https://github.com/nothings/stb
[submodule "external/curl"]
	path = external/curl
	url = https://github.com/curl/curl
[submodule "external/pcre2"]
	path = external/pcre2
	url = https://github.com/PCRE2Project/pcre2
[submodule "freevgui"]
	path = freevgui
	url = https://github.com/FWGS/freevgui
